<div class="row">
    <div class="col s12 m12">
        <h4>Order Details</h4>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col s6 m6">
        <b>Order code:</b> {{order.orderCode}}
    </div>
    <div class="col s6 m6">
        <span class="right">
            <b>Date:</b> {{formatDate order.date 'dddd, MMMM Do YYYY'}}
        </span>
    </div>
</div>
<hr>
<div class="row">
    <div class="col s6 m6">
        <b>Status:</b> {{orderStatus order.status}}
    </div>
    <div class="col s6 m6">
        {{#if order.downloadLink}}
            <a href="{{order.downloadLink}}" class="btn" target="_blank">Download here</a>
        {{/if}}
    </div>
</div>

<div class="row">
    <div class="col s6 m6">
        <p>
            <input type="checkbox" class="filled-in" {{#if order.sendBack}}checked="checked"{{/if}}>
            <label>
                <span class="tooltipped" data-position="bottom" data-tooltip="Dikirimkan ke alamat yang ada di Profile Anda.">Send the negative film back to me <i class="fas fa-info-circle"></i></span>
            </label>
        </p>
    </div>
    <div class="col s6 m6">
        <p>
            <input type="checkbox" class="filled-in" {{#if order.allowPost}}checked="checked"{{/if}}>
            <label>Allow posting on OctoLab instagram</label>
        </p>
    </div>
</div>

<div class="row">
    <div class="col s12 m12">
        <table class="bordered striped">
            <thead>
                <tr>
                    <th>Film</th>
                    <th>Quantity</th>
                    <th>Instruction</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                {{#each order.details}}
                    <tr>
                        <td>{{detailFilm}}</td>
                        <td>{{detailQuantity}}</td>
                        <td>{{detailInstruction}}</td>
                        <td>{{detailNote}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col s12 m12">
        <h6><b>Another Notes:</b></h6>
        <p>{{{order.note}}}</p>
    </div>
</div>

<div class="row">
    <div class="col s12 m12">
        <h4>Payment Details</h4>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col s6 m6">
        <b>Total price: </b> 
        {{#if order.price}}
            {{order.price}}
            {{#if order.payment.status}}
            {{else}}
                <span class="tooltipped" data-position="bottom" data-tooltip="Mohon segera melakukan pembayaran dan pengiriman film."> <i class="fas fa-info-circle"></i></span>
            {{/if}}
        {{else}}
            <span class="tooltipped" data-position="bottom" data-tooltip="Menunggu konfirmasi harga dari OctoLab">Belum tersedia <i class="fas fa-info-circle"></i></span>
        {{/if}}
    </div>
    <div class="col s6 m6">
        <input type="checkbox" class="filled-in" {{#if order.payment.status}} checked="checked" {{/if}}>
        <label>Payment status</label>
    </div>
</div>

{{#if order.payment.status}}
    <div class="row">
        <div class="col s6 m6">
            <p>
                <b>Bank:</b> {{order.payment.bank}}
            </p>
            <p>
                <b>a/n:</b> {{order.payment.name}}
            </p>
        </div>
        <div class="col s6 m6">
            <h6><b>Transfer evidence:</b></h6>
            <img src="{{order.payment.proof}}" class="responsive-img img-proof" alt="Bukti bayar">
        </div>
    </div>
{{/if}}

<div class="row">
    <div class="col s12 m12">
        <h4>Shipping Details</h4>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col s6 m6">
        <b><span class="tooltipped" data-position="bottom" data-tooltip="Invoice pengiriman dari user.">Invoice 1 <i class="fas fa-info-circle"></i></span>:</b> {{#if order.invoice1}} {{order.invoice1}} {{else}} - {{/if}}
    </div>
    <div class="col s6 m6">
        <b><span class="tooltipped" data-position="bottom" data-tooltip="Invoice pengiriman dari OctoLab.">Invoice 2 <i class="fas fa-info-circle"></i></span>:</b> {{#if order.invoice2}} {{order.invoice2}} {{else}} - {{/if}}
    </div>
</div>

<div class="row">
    <div class="col s12 m12">
        <a href="/user/order" class="btn btn-form">OK</a>
    </div>
</div>
